.inputbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.inputbox .inputfield {
    position: relative;
    width: 48%;
    height: 50px;
    background: transparent;
    margin: 13px 0;
}

#petList {
    margin-top: 20px;
}

.btn:hover {
    transform: scale(1.08);
}
.btn{
    transition: transform 0.3s ;
}

.cardImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
body{

}