.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
    display: inline-block;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.card p {
    margin: 5px 0;
}
.cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
select{
    width: 190px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
    margin-left: 75px;
}
#search{
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 10px;
}
.information{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.footer {
    background-color: #B9B7BD;
    color: #EEEDE7;
    text-align: center;
    padding: 10px 0;
    margin-top: 61.6vh;
}
.dogGuide{
    position: absolute;
    left: 80px ;
    top: 300px;
}
.catGuide{
    position: absolute;
    right: 80px ;
    top: 300px;
}
body.dark-mode {
    background-color: black;
    color: #fff;
}
#darkModeLabel{
 color: black;
}